{% extends 'base.html.twig' %}

{% block title %}Kanban
{% endblock %}

{% block body %}
	<h1>Suivis de votre avancement</h1>
	<article>
		<section>
			<h2>A postuler</h2>
			{% for item in jobs %}
				{% if item.status == 'A postuler' %}
					<h3>{{item.title}}</h3>
				{% endif %}
			{% endfor %}
		</section>
		<section>
			<h2>En attente</h2>
			{% for item in jobs %}
				{% if item.status == 'En attente' %}
					<h3>{{item.title}}</h3>
				{% endif %}
			{% endfor %}
		</section>
		<section>
			<h2>Entretien</h2>
			{% for item in jobs %}
				{% if item.status == 'Entretien' %}
					<h3>{{item.title}}</h3>
				{% endif %}
			{% endfor %}
		</section>
		<section>
			<h2>Accepté</h2>
			{% for item in jobs %}
				{% if item.status == 'Accepté' %}
					<h3>{{item.title}}</h3>
				{% endif %}
			{% endfor %}
		</section>
		<section>
			<h2>Refusé</h2>
			{% for item in jobs %}
				{% if item.status == 'Refusé' %}
					<h3>{{item.title}}</h3>
				{% endif %}
			{% endfor %}
		</section>
	</article>
{% endblock %}
