{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<h1>Bonjour
		{{app.user.firstName}}</h1>
	<article>
		<section>
			<a href="{{path('app_job_offer_new')}}">Nouvelle candidature ?</a><br>
			{% for item in jobs %}
				<a href="{{path('app_job_offer_show', {'id' : item.id})}}">{{item.title}}</a><br>
				<div>
					{% for coverLetter in item.coverLetters %}
						<a href="{{path('app_cover_letter_show', {'id' : coverLetter.id})}}">Lettre de motivation du
							{{coverLetter.createdAt|date('d/m/Y')}}</a>
						<a href="{{path('app_cover_letter_delete', {'id' : coverLetter.id})}}">
							<button>DELETE</button>
						</a>
						<br>
					{% endfor %}
					{% for linkedInMessage in item.linkedInMessages %}
						<a href="{{path('app_cover_letter_show', {'id' : linkedInMessage.id})}}">Message LinkedIn du
							{{linkedInMessage.createdAt|date('d/m/Y')}}</a>
						<a href="{{path('app_cover_letter_delete', {'id' : linkedInMessage.id})}}">
							<button>DELETE</button>
						</a>
						<br>
					{% endfor %}
				</div>
			{% endfor %}
		</section>
	</article>
{% endblock %}
